<div class="wrapper">
    <section class="greeting">
    <div class="container">
        <h1 class="greet greeting__title">Очередная тудушка:)</h1>
        <div class="greeting__main">
            <div class="log-and-reg-sec greeting__login">
                <span class="icons icons--login"></span>
                <a href="/login" class="link">Войти</a>
            </div>
            <p class="greeting__info greeting__info-count-task">
                В базу данных было добавлено <strong>{{countTasks}}</strong> задач
            </p>
            <div class="log-and-reg-sec greeting__registration">
                <span class="icons icons--registration"></span>
                <a href="/registration" class="link">Зарегистрироваться</a>
            </div>
            <p class="greeting__info greeting__info-count-user">
                Сейчас на сайте зарегистрировано <strong>{{countUsers}}</strong> пользователя
            </p>
        </div>
    </div>
</section>
</div>
