<div class="wrapper">
    <section class="section-with-form">
        <div class="container container--with-form">
            {{>form}}
            <footer class="section-with-form__footer">
                <p>Есть аккаунт? <a href="/login" class="link">Войти</a></p>
            </footer>
        </div>
    </section>
</div>